<div class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-center relative py-5">
  <div class="image-container">
    <img src="images/why-choose.svg" alt="Shape" class="absolute -z-10 top-0 left-0" />
    <img src="images/cars/car_02.png" alt="Car" class="car-img absolute" />
  </div>

  <div class="content">
    <span class="inline-block bg-blue-100 text-blue-500 text-xs font-semibold px-10 py-2 rounded-md mb-4">
      Why choose us
    </span>

    <h2 class="text-3xl md:text-4xl font-bold mt-3 mb-10">
      We offer the best experience with our rental deals
    </h2>

    <ul class="space-y-6">
      <li class="feature-item flex items-center">
        <div class="step-icon text-center bg-blue-100 text-blue-500 text-xl px-3 py-3 rounded-xl me-3">
          <i class="fas fa-tag"></i>
        </div>
        <div>
          <h4>Best price guaranteed</h4>
          <p>
            Find a lower price? We’ll refund you 100% of the difference.
          </p>
        </div>
      </li>

      <li class="feature-item flex items-center">
        <div class="step-icon text-center bg-blue-100 text-blue-500 text-xl px-3 py-3 rounded-xl me-3"> <i
            class="fas fa-user-check"></i>
        </div>
        <div>
          <h4>Experienced driver</h4>
          <p>
            Don’t have a driver? Don’t worry, we have many experienced drivers.
          </p>
        </div>
      </li>

      <li class="feature-item flex items-center">
        <div class="step-icon text-center bg-blue-100 text-blue-500 text-xl px-3 py-3 rounded-xl me-3">
          <i class="fas fa-clock"></i>
        </div>
        <div>
          <h4>24 hour car delivery</h4>
          <p>
            Book your car anytime and we will deliver it directly to you.
          </p>
        </div>
      </li>

      <li class="feature-item flex items-center">
        <div class="step-icon text-center bg-blue-100 text-blue-500 text-xl px-3 py-3 rounded-xl me-3">
          <i class="fas fa-headset"></i>
        </div>
        <div>
          <h4>24/7 technical support</h4>
          <p>
            Have a question? Contact support anytime when you have problems.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
