.car-img  {
  left: -10rem;
  width: 45rem;
  bottom: 0;
}

@media (max-width: 1024px) {
  .image-container {
    img {
      position: initial;
    }
    .car-img  {
      width: 40rem;
        left: 50%;
        position: absolute !important;
        top: 20%;
        transform: translate(-50%);
    }
  }
  .content {
    padding-left: 92.5px;
    padding-bottom: 5rem;
  }
}
