<section class="bg-slate-50 py-32 relative overflow-hidden">
  <span class="quote quote-1 absolute text-gray-300 hidden md:block">
    <img src="/images/quote.svg" alt="">
  </span>

  <span class="quote quote-2 absolute text-gray-300 hidden md:block">
    <img src="/images/quote.svg" alt="">
  </span>

  <!-- Heading -->
  <div class="content text-center">
    <span class="inline-block  bg-blue-100 text-blue-500 text-xs font-semibold px-10 py-2 rounded-md mb-4">
      Testimonials
    </span>
    <h2 class="text-center text-3xl font-semibold text-slate-800 mb-12">
      What people say about us?
    </h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="box text-left bg-white flex">
          <div class="image-container w-1/2">
            <img src="/images/testi_01.jpg" class="w-full h-full mx-auto mb-4 object-cover" />
          </div>
          <div class="box-content flex flex-col justify-between p-4 w-1/2">
            <div class="text-left mb-4">
              <span class="text-6xl">5.0</span>stars
              <div class="text-yellow-400 mt-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p class="desc">feel very secure when using caretall's services. Your customer care team is very
              enthusiastic and the driver is always on time.”</p>
            <div class="person">
              <h4 class="font-semibold text-slate-800">James Wilson</h4>
              <span class="text-gray-400">From New York, US</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box text-left bg-white flex">
          <div class="image-container w-1/2">
            <img src="/images/testi_02.jpg" class="w-full h-full mx-auto mb-4 object-cover" />
          </div>
          <div class="box-content flex flex-col justify-between p-4 w-1/2">
            <div class="text-left mb-4">
              <span class="text-6xl">5.0</span>stars
              <div class="text-yellow-400 mt-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p class="desc">feel very secure when using caretall's services. Your customer care team is very
              enthusiastic and the driver is always on time.”</p>
            <div class="person">
              <h4 class="font-semibold text-slate-800">James Wilson</h4>
              <span class="text-gray-400">From New York, US</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box text-left bg-white flex">
          <div class="image-container w-1/2">
            <img src="/images/testi_03.jpg" class="w-full h-full mx-auto mb-4 object-cover" />
          </div>
          <div class="box-content flex flex-col justify-between p-4 w-1/2">
            <div class="text-left mb-4">
              <span class="text-6xl">5.0</span>stars
              <div class="text-yellow-400 mt-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p class="desc">feel very secure when using caretall's services. Your customer care team is very
              enthusiastic and the driver is always on time.”</p>
            <div class="person">
              <h4 class="font-semibold text-slate-800">James Wilson</h4>
              <span class="text-gray-400">From New York, US</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box text-left bg-white flex">
          <div class="image-container w-1/2">
            <img src="/images/testi_04.jpg" class="w-full h-full mx-auto mb-4 object-cover" />
          </div>
          <div class="box-content flex flex-col justify-between p-4 w-1/2">
            <div class="text-left mb-4">
              <span class="text-6xl">5.0</span>stars
              <div class="text-yellow-400 mt-2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <p class="desc">feel very secure when using caretall's services. Your customer care team is very
              enthusiastic and the driver is always on time.”</p>
            <div class="person">
              <h4 class="font-semibold text-slate-800">James Wilson</h4>
              <span class="text-gray-400">From New York, US</span>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
