.quote {
  font-size: 16rem;
  z-index: 0;
}

.quote-1 {
  left: 7rem;
  top: 1rem;
}

.quote-2 {
  right: 7rem;
  top: -5rem;
  transform: rotateY(180deg);
}
.content {
  position: relative;
  z-index: 1;
}

.box {
  width: 45rem;
  height: 25rem;
  justify-content: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

::ng-deep .owl-item{
  display: flex;
  justify-content: center;
}
