<footer class="bg-gradient-to-b from-[#061a2f] to-[#04101f] text-slate-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pb-5 pt-14">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-10">
      <div class="space-y-5">
        <div class="flex items-center gap-2 text-white font-semibold text-lg">
          <img src="images/logo_footer.svg" class="h-6" />
        </div>

        <div class="space-y-3 text-sm">
          <p class="flex items-center gap-2 ali">
            <i class="fa-solid fa-location-dot"></i>
            <span>25566 H. Glenallen,<br /> Alaska, 99886, USA</span>
          </p>

          <p class="flex items-center gap-2">
            <i class="fa-solid fa-phone"></i>
            +603 4784 2212
          </p>

          <p class="flex items-center gap-2">
            <i class="fa-regular fa-envelope"></i>
            rentcars&#64;gmail.com
          </p>
        </div>
      </div>
      <div>
        <h3 class="footer-title mb-2 font-medium text-white">Our Product</h3>
        <ul class="footer-list">
          <li>Career</li>
          <li>Car</li>
          <li>Packages</li>
          <li>Features</li>
          <li>Priceline</li>
        </ul>
      </div>
      <div>
        <h4 class="footer-title mb-2 font-medium text-white">Resources</h4>
        <ul class="footer-list">
          <li>Download</li>
          <li>Help Centre</li>
          <li>Guides</li>
          <li>Partner Network</li>
          <li>Cruises</li>
          <li>Developer</li>
        </ul>
      </div>
      <div>
        <h4 class="footer-title mb-2 font-medium text-white">About Rentcars</h4>
        <ul class="footer-list">
          <li>Why choose us</li>
          <li>Our Story</li>
          <li>Investor Relations</li>
          <li>Press Center</li>
          <li>Advertise</li>
        </ul>
      </div>
      <div>
        <h4 class="footer-title mb-2 font-medium text-white">Follow Us</h4>
        <div class="flex gap-4 mt-4">
          <a class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a class="social-icon"><i class="fa-brands fa-instagram"></i></a>
          <a class="social-icon"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="border-t border-slate-700 mt-12 pt-6 text-sm text-center">
      Copyright © 2023 · Rentcars. All Rights Reserved
    </div>
  </div>
</footer>
